/* CSS designed by Robert M. Erickson      ++++++++++++++++++++++++++++++*/
/* ===================  General Section  ==================================== */
@import url('reset.css');
#author:after{
    content: "Robert M. Erickson";
}

* {
    font-size: 12pt;
    font-family: sans-serif;
}
/* Blackboard hacks maybe */

.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.addSpace{
    margin-top: 9em;
}

body.blackboard article{
    margin: 0;
    padding: 0;
}


/* +++++++++++++++++++++++   general elements  ++++++++++++++++++++++++++*/

html { 
    background: url("//rerickso.w3.uvm.edu/Blackboard-live/BB-Tools/css/pinkfloyd.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    /*height: 100%; needed for background image? messes up body padding and border*/
}

html body .blackboard, html.blackboard, body.blackboard{
    width: 100%;
    padding: 1em;
    padding-top: 0;
}

body{
    max-width: 1200px;
    margin: -2em auto;
    background-color: rgba(254,254,254,.85);
    font-size: 1.5rem;
    border-left: thick black solid;
}

article{
    background-color: rgba(254,254,254,.85);
    clear: both;
    margin: 2em auto;
    padding: 2em;
    padding-top: 6em;
}

a{
    border: .2em solid transparent;
}

a[target="_blank"]{
    text-decoration-color: red;
}

#mainContent a:hover{
    padding: .5em
}

.activeLink a {
    background-color: #fff;
    border: thin solid black;
    color: #000;
}
.anchor{
    line-height: 9em; /*same height as header*/

}
code{
    display: block;
    font-family: "Courier New","Lucida Console",monospace;
    font-size: 2em;
    margin-left: 3em;
    padding-top: 1em;
}

code.plain, .plain{
    display: inline;
    font-size: 1em;
    margin-left: 0em;
    padding-top: 0em;
}
h1, h2, h3 {
    border-bottom: thin solid black;
    clear: both;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-top: 2em;
}

h1{
    font-size:2em;
}

h2{
    font-size:1.5em;
}

h3{
    font-size:1.25em;
}
ol li, 
ul li{
    padding: .6em 0 .6em 0;

}

#assign ol li{
    list-style-type: none;
}

.lab label ol li{
    list-style-type: decimal;
    margin-left: 1em;
    text-indent: -1em;
    padding-left: 1em;
}
p{
    padding-top: 1em;
}

div[style*=background], iframe, pre{
    margin-top: 1em;
    margin-bottom: 1em;
}

.redDot{
    background-color: #900;
    color:#f0a0a0;
    border-radius: 1em;
}
.greenDot{
    background-color: #5c7659;
    color: lightgreen;
    border-radius: 1em;
}
.yellowDot{
    background-color: #fff000;
    color:#f0a0a0;
    border-radius: 1em;
}

/* +++++++++++++++++ header section ++++++++++++++++++++++++++++++++++++++++++*/

header{
    padding: .3em;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, #353535 0%, #2B2B2B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #413F3F;
    color: #FFFFFF;
}

header h1{
    border: none;
    font-size: 1.2em;
    margin: 0;
    padding-top: 0;
}

header a{
    color: #AAAAAA;
}

.filename{
    font-variant: small-caps;
}

.todaysDate{
    display: bloxk;
    float: right;
    font-size: 0.6em;
    padding: 0.2em;
}

#topbox{
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #000000;
    border-radius: 0 0 15px 15px;
    color: #666666;
    left: 0;
    margin: auto 2.5%;
    /*   padding: 1em; */
    position: fixed;
    top: 0;
    width: 93%;
    z-index: 12;  
}


#studentInfo{
    padding-right: 5em;
    position: fixed;
    right: 5em;
    top: 0;
}
#studentInfo span{
    display: block;
}

.classtitle {
    padding-right: 10em;
}

#specialLink{
    position: fixed;
    right: 0;
    top: 1em;
    z-index: 100;
}

.student #specialLink{
    display: none;
}
/* +++++++++++++++++++++++   navigation styles ++++++++++++++++++++++++++++*/
/* https://codepen.io/philhoyt/pen/ujHzd/ */
nav /*#primary_nav_wrap*/
{
    padding-bottom: 2em;
    border-bottom: thin solid black;
}

nav ol
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

nav ol a
{
    display:block;

    text-decoration:none;
    font-weight:700;
    font-size:16px;
    line-height:32px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

nav ol li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ol li.activePage
{
    background:#eeeeee;
}

#primary_nav_wrap ol li:hover
{
    background:#dddddd;
    color: black;
    z-index: 10;
}

nav ol ol
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#000;
    padding:0
}

nav ol ol li
{
    float:none;
    width:200px
}

nav ol ol a
{
    line-height:120%;
    padding:10px 15px
}

nav ol ol ol
{
    top:0;
    left:100%
}

#primary_nav_wrap ol li:hover > ol
{
    display:block
}

.line-above{
    border-top: thin solid gray;
}


/*
nav{
    
}
nav ol{
    padding: 0;
}
nav ol li{
    display: inline-block;
    float: left;
    list-style-type: none;
    width: 12em;
    background-color: lightgray;
}

nav ol li:hover {
    background-color: #d8dfea;
    border-radius: 0.5em;

}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
*/
#listStudents{
    clear: both;
}

#listStudents a{
    width: 12em;
    display: inline-block;
}

#listStudents a:hover{
    background-color: lightcyan;
    
}
.activeGroup{
    border: 2px solid whitesmoke;
    background-color: rgba(245, 245, 245, .3);
}
.activePage{
    background-color: whitesmoke;
    /*border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    */
    box-shadow: 0.3em grey;
}
/* +++++++++++++++++++++++   image styles  ++++++++++++++++++++++++++++++*/
img{
    /* will shrink to container or orginal size if smaller than container */ 
    max-width: 100%; 
}

.small{
    width: 150px;
}

.medium{
    width: 300px;
}

.fifty{
    width: 50%;
}

.onehundred{
    width: 95%; /* i was losing the margin area at 100% */
}

figure{
    border: thin solid darkslategray;
    padding: .5em;
    margin: 1em;
    text-align: center; 
}
figure.img-left{ 
    float: left; 
    margin-right: 1em;
}

figure.img-right{  
    float: right;  
    margin-left: 1em 0 1em 1em;
}

figcaption{
    text-align: center;
    color: #839E99;
    font-style: italic; 
}

/* +++++++++++++++++++++++   syllabus pages ++++++++++++++++++++++++++++++*/
#syllabus table{
    margin: auto;
}

.classTools li{
    padding-bottom: 1em;
}

#syllabus table tr:first-child td:last-child{
    vertical-align: middle;
}

/* +++++++++++++++++++++++   general content layout +++++++++++++++++++++*/


article#mainContent{
    background-color: #fefefe;
    border: 2px solid #fefefe;
    border-radius: 0.5em;
    overflow: auto;
}

body #mainContent .highlight{
    background-color: #d8dfea;
}

form#chooseAssignment{
    text-align: center;
}

table{
    margin: auto;
    background-color: rgba(254,254,254,.85);
}

tr:nth-child(odd){
    background-color: #cccccc;
}
tr:nth-child(even){
    background-color: cornsilk;
}
table.dd td{
    border: thin dashed #0a0a0a;
    padding: 0.5em;  
}
table.dd tr{
    border: medium solid black;  
}

table.dd th{
    background-color: #eeeeee;
    border: 0.1em solid #000;
    font-family: Arial,Verdana,Geneva,Helvetica,sens-serif;
    padding: 0.5em;
    text-align: center; 
}

.highlight-red{
    background-color: #ffabab;
}

.highlightRed{ 
    background-color: #cc0033;
    color: #ffffff;
    font-size: inherit;
}

.center{
    text-align: center !important;
}

.left{
    text-align: left !important;
    padding-right: .5em;
}

.right{
    text-align: right !important;
    padding-left: .5em;
}

.hanging{
    padding-left: 5em ;
    text-indent: -5em ;
}

.indent{
    padding-left: 5em ;
}


.printonly{
    display:none;
}

table#asciiTable tr td,  table#asciiTable tr th{
    padding: .5em;
    border: thin dashed #0a0a0a;
}

#mainContent table tr td,  #mainContent table tr th{
    padding: .5em;
    border: thin dashed #0a0a0a;
}

#mainContent table tr th{
    background-color: #eeeeee;
    border: .1em solid #000;
    font-family: Arial,Verdana,Geneva,Helvetica,sens-serif;

    text-align: center;    
}

/* +++++++++++++++++++++++   Calendar pages +++++++++++++++++++++++++++++*/
.Absent{
    color: #ffbfbf !important;
    background: #aa0011 !important;
    text-align: center;	
}

.assignment{
    color: #cc4444;
    margin:0;
    padding: 0.25em;
    text-align:center; 	 
}
.lecture{
    margin:0;
    padding: 0.25em;
    text-align:center;
}
.callInSick{
    float: left;
    margin: 0;
}

div.date{
    float: right; 
    text-align:center; 
    border: 1px solid gray; 
    border-width: 0 0 1px 1px; 
    padding: 0.125em 0.25em 0 0.25em; 
    margin:0;  
    background: #F3F3F3; 
    width: 2em;
}


.Excused{
    color: #aa0011 !important;
    background: #ffadad !important;
    text-align: center;	
}

#fullCalendar{
    float:right;
    font-size: small;
}

.labComplete{
    color: #24B300 !important;
    background: #ffcfcf !important;
    text-align: center;	
}

.FreeDay{
    color: #24B300 !important;
    background: #aacfcf !important;
    text-align: center;	
}

.Late{
    color: #24B300 !important;
    background: #ddffdf !important;
    text-align: center;	
}

.Personal{
    color: #aa0011 !important;
    background: #ffcfcf !important;
    text-align: center;	
}

.Present{
    color: #24B300 !important;
    background: #CCFFBF !important;
    text-align: center;
}

.presentation{
    border: dashed medium #ff0000 !important;
}
.Sick{
    color: #aa0011 !important;
    background: #ffadad !important;
    text-align: center;	
}

.submitted{
    border: thin solid green;
    color: green;
}

.notSubmitted{
    border: thin solid red;
    color: red;
}
.TOPIC { 
    color: #4444CC; 
    text-align:center; 
    padding: 0.125em 0.25em 0 0; 
    margin:0;  
}

.VACA {
    background-color: rgba(200, 200, 200, 0.8);
    font-style: italic;
}

.INFO{
    background-color: rgba(200, 200, 200, 0.4);
    font-style: italic;
}

.monthHeader th{
    padding: .5em 0;
}
#calendar .calendar-view td {
    border: thin dashed lightgray;
}
#calendar .calendar-view th {
    border: thin solid lightgray;
}
#calendar .calendar-view .assignment{
    background-color: rgba(255, 0, 0, 0.1);
    border: thin dotted red;
}

#calendar .calendar-view .lecture{
    background-color: rgba(0, 0, 255, 0.1);
    border: thin dotted red;
}

#calendar .schedule-view  tr:nth-child(odd){
    background-color: #eeeeee;
}

/* remove the padding around the a putting the padding on
   the div. it was causing a first line indent otherwise */
#calendar .schedule-view tr div a{
    padding: 0;
}

#calendar .schedule-view tr div{
    padding: 0.5em;
}

/* above two sets of rules go together */

#calendar .schedule-view tr{
    padding-top: .2em;
    padding-bottom: .2em;
}

#calendar .schedule-view tr:hover{
    border-top: .2em solid #a4a4a4;
    border-bottom: .2em solid #a4a4a4;
    padding-top: 0;
    padding-bottom: 0;
}
#calendar .schedule-view td.webreview ol li{
    list-style-type: none;
}

#calendar td.atoday{
    border: solid medium #661ca9;
    background-color: yellow;
}

#calendar table tr:nth-child(odd){
    background-color: white;
}

#calendar table tr:nth-child(even){
    background-color: white;
}
/* +++++++++++++++++++++++   grading pages ++++++++++++++++++++++++++++++*/
#grades p, #grades .p{
    border: thin solid black;
    border-radius: 0.7em;
    padding: .8em 0 .8em .8em;
}

#grades p a{
    text-decoration: none;
}

#grades .avggrade {
    background-color: none;
    font-size: small;
    color: #ffcccc;
}

#grades .label{
    display: inline-block;
    width: 50%; 
}
#grades input#hypoGrade{
    width: 3em;
}
#grades .grade{
    width: 40%;
    padding-left: 3em;
}

#grades .noWidth{
    width: 1em !important;
}


#grades .comments{
    display:none;
}

#grades .hypo {
    background-color: lightgreen !important;
    border-radius: 0.3em;
    padding-right: 3em;
}

.avggrade {
    color: #ffcccc;
    font-size: small;
}

.failing {
    background-color: red !important;
}

.hypo {
    background-color: lightgreen !important;
}
.percent{
    float: right;
    padding-left: 0.25em;
}

.GradesReleased {
    background-color: #ccffcc; 
}

.GradesReleased .highlight {
    color: #000000;
}

.GradingStarted {
    background-color: #fff000; 
    color: #000000;
}

.NotGraded{
    background-color: #ffcccc;
}

.Graded{
    background-color: #ccffcc;
}
/* +++++++++++++++++++++++   assignment pages  ++++++++++++++++++++++++++++++*/

#assign .lab ol li {
    list-style-type: decimal;
    padding-left:2em;
}
.displayDate{
    display: inline-block;
    width: 10em;
    text-align: right;
}


#assignments #mainContent ol li .displayDate{
    width: auto;
}

#assignments .submitted, #assign .submitted{
    border: none;
    color: green;
}

#assignments .notSubmitted, #assign .notSubmitted{
    border: none;
    color: red;
}

.reading{
    /*
    not responsive enough for me. like nothing better
    display: inline-block;
    width: 10em;
    text-align: left;
    height: 100%;*/
}

#assign label, .lab label{
    clear: both;
    display: block;
    margin-top: 1em;
    padding-left: 1.3em;
    text-indent: -1.3em;
}

label ol li{
    list-style-type: none;
}

.lab fieldset{
    border: thin solid black;
    margin-bottom: 2em;
}
/* +++++++++++++++++++++++   lecture pages     ++++++++++++++++++++++++++++++*/


#lectures #mainContent ol li .displayDate{
    width: auto;
}

/* +++++++++++++++++++++++   submit assignment page , call in sick page   ++++++++++++++++++++++*/
#submitAssignment span.steps,#sick span.steps {
    background-color: rgba(131, 158, 153, 0.65);
    border-radius: 1em;
    float: left;
    font-size: 1.5em;
    margin-top: -1em;
    margin-bottom: 3em;
    padding: 0.5em;
}

.blackboard #submitAssignment iframe{
    height: 18em;
    margin: auto;   
    width: 100%;

}
#sick fieldset.textarea span.steps, #sick fieldset.submit span.steps {
    margin-bottom: 1em;
}

#sick fieldset.submit span.steps {
    margin-bottom: 0;
}

div.step, legend.step{
    border: thin solid #839e99;
    border-radius: 1.5em;
    display: block;
    margin-bottom: 1em;
    padding: 2.5em;
}

#submitAssignment fieldset, #sick fieldset{
    border: none;
}

#submitAssignment input, #sick input {
    margin-left: 0.6em;
}
/* sick page */
/*
#sick article {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
         
          -webkit-column-width: 150px;
     -moz-column-width: 150px;
          column-width: 150px;
          
          -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
          
    
           -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
          
            -moz-column-fill: auto;
       column-fill: auto;
  height: 350px;
}
*/ 
#sick aside{
    float: left;
    width: 40%;
    min-width: 400px;
    margin-right: 7%;
}
#sick .radio label{
    display: block;
}
#sick span.steps{

}
/* +++++++++++++++++++++++   resource pages    ++++++++++++++++++++++++++++++*/
#otherMedia ol li:hover {
    background-color: #839E99;
}

#otherMedia ol li figure{
    border: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

#otherMedia ol li img {  
    height: 1em; 
    padding-right: 0.2em;
}
/* +++++++++++++++++++++++   video pages       ++++++++++++++++++++++++++++++*/
#vid{
    max-width: 100%;
}

/* +++++++++++++++++++++++   misc              ++++++++++++++++++++++++++++++*/
#upcoming ol li{
    list-style-type: none;
}

.noticeMe{
    background-color: rgba(255,0,0,.8);
    padding: 2em 1em;
}
.noticeMeBlue{
    background-color: lightblue; 
    font-size: large; 
    font-weight: bolder; 
    padding: 0.5em;
}

#errors ol li{
    background-color: rgba(255,0,0,.2);
}

#classList .main p:nth-child(odd){
    background-color: lightblue;
}

#classList .main p:nth-child(even){
    background-color: whitesmoke;
}
#classList p{
    padding: 1em;
}
#classList p:hover{
    background-color: #d8dfea;
}

.current{
    background-color: plum !important;
    border-bottom: thin solid #661CA9;
    border-top: thin solid #661CA9;
}

.current td, .current th{
    padding-top: .25em;
    padding-bottom: .25em;
}
.attendanceBox{
    border: thin solid darkgray;
    width: .5em;
    font-size: 8pt;
}

.attendanceEmptyBox{
    background-color: linen;
    border: thin solid gray;
}

.attendanceTable .attendanceNewWeek{
    border-left: medium solid black;
}

/* attendance status */
.attendance_status_Y{
    background-color: lightgreen;
}
.attendance_status_L{
    background-color: lightgreen;
}

.attendance_status_F{
    background-color: lightcoral;
    color: lightgreen;
}

/* not in class or using their phone */
.attendance_status_N{
    background-color: lightcoral;
    font-weight: bolder;
    color: darkred;
}
.attendance_status_C{
    background-color: lightcoral;
}
.attendance_status_W{
    background-color: lightcoral;
}


/* not in class but they let us know */
.attendance_status_S{
    background-color: lightyellow;
}
.attendance_status_P{
    background-color: lightyellow;
}
.attendance_status_G{
    background-color: lightyellow;
}
.attendance_status_E{
    background-color: lightyellow;
}

.attendanceGrade{ 
    width: 4em;
    padding: .03;
    background-color: linen;
}
.attendanceWorried{
    border: medium red solid;
} 
.attendanceTable{
    display:inline-block;
}

table tr:nth-child(2){
    max-width: 100%;
}
#peerGrade .comments{
    max-height: 5em;
    overflow: scroll;
    display: inline-block
}

#peerGrade textarea{
    vertical-align: middle;
}

#peerGrade label {
    padding: 0 0.5em 0 1em;
}
#peerGrade  .button{
    background: lightgreen none repeat scroll 0 0;
    border-radius: 0.5em;
    margin-left: 1em;
    padding: 1em;
    vertical-align: middle;
}

#peerGrade  p {
    padding: 1em 0;
}

#student-attendance td, #student-attendance th{
    border: thin solid darkgray;
    padding: 1em;
}

#student-attendance td:nth-child(2){
    text-align: center;
}

#student-attendance td:nth-child(3){
    text-align: left;
    max-width: 10em;
    overflow: scroll;
    max-height: 3em;
}
#student-attendance tr:nth-child(odd){
    background-color: cornsilk;
}

textarea{
    height: 6em;     
    width: 100%;
}
#reportGroup tr:nth-child(odd){
    background-color: cornsilk;
}


#reportGroup .newGroup{
    border-top: thick solid black;
}
#reportGroup .standard td, #reportGroup .standard th{
    padding: .3em;
    border-left: thin dashed lightgray;
    border-right: thin dashed lightgray;
}

.table-borders{
    border: thin solid black;
}
.table-borders td, .table-borders th{
    border: thin dashed gray;
}
.small-spacing{
    padding: .5em;
}

.table-hover:hover, .table-hover:active{
    background-color: #d8dfea;
}

.red{
    color: darkred;
}

.delete-button{
    background-color: white;
    border: medium none;
    color: darkred;
}

#scoreDisplay{
    background-color: white;
    margin: 0;
    padding: 0.5em;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

/* table sample */
table{
    border: thin solid black;
}

caption{
    padding-top: 1em
}

td, th{
    border: thin dashed;
    padding: .3em;
}

tr:hover{
    background-color: white;
    border: thin solid orange;
}

td:hover{
    background-color: lavender;
}
