/* CSS designed by Robert M. Erickson      ++++++++++++++++++++++++++++++*/
/* ===================  General Section  ==================================== */
@import url('reset.css');
#author:after{
    content: "Robert M. Erickson";
}

* {
    font-size: 12pt;
    font-family: sans-serif;
}


body{
    margin: -2em auto;
    background-color: rgba(254,254,254,.85);
    font-size: 1.5rem;
}

article{
    background-color: rgba(254,254,254,.85);
    clear: both;
    margin: 2em auto;
    padding: 2em;
    padding-top: 6em;
}

a{
    border: .2em solid transparent;
}

a[target="_blank"]{
    text-decoration-color: red;
}

#mainContent a:hover{
    padding: .5em
}

.activeLink a {
    background-color: #fff;
    border: thin solid black;
    color: #000;
}
.anchor{
    line-height: 9em; /*same height as header*/

}
code{
    display: block;
    font-family: "Courier New","Lucida Console",monospace;
    font-size: 2em;
    margin-left: 3em;
    padding-top: 1em;
}

code.plain, .plain{
    display: inline;
    font-size: 1em;
    margin-left: 0em;
    padding-top: 0em;
}
h1, h2, h3 {
    border-bottom: thin solid black;
    clear: both;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-top: 2em;
}

h1{
    font-size:2em;
}

h2{
    font-size:1.5em;
}

h3{
    font-size:1.25em;
}
ol li, 
ul li{
    padding: .6em 0 .6em 0;

}

ol li{
    list-style-type: none;
    margin-left: 1em;
    text-indent: -1em;
    padding-left: 1em;
}

p{
    padding-top: 1em;
}

/* +++++++++++++++++ header section ++++++++++++++++++++++++++++++++++++++++++*/

header{
    padding: .3em;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, #353535 0%, #2B2B2B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #413F3F;
    color: #FFFFFF;
}

header h1{
    border: none;
    font-size: 1.2em;
    margin: 0;
    padding-top: 0;
}

header a{
    color: #AAAAAA;
}

/* +++++++++++++++++++++++   image styles  ++++++++++++++++++++++++++++++*/
img{
    /* will shrink to container or orginal size if smaller than container */ 
    max-width: 100%; 
}

.small{
    width: 150px;
}

.medium{
    width: 300px;
}

.fifty{
    width: 50%;
}

.onehundred{
    width: 95%; /* i was losing the margin area at 100% */
}

figure{
    border: thin solid darkslategray;
    padding: .5em;
    margin: 1em;
    text-align: center; 
}
figure.img-left{ 
    float: left; 
    margin-right: 1em;
}

figure.img-right{  
    float: right;  
    margin-left: 1em 0 1em 1em;
}

figcaption{
    text-align: center;
    color: #839E99;
    font-style: italic; 
}
/* +++++++++++++++++++++++   general content layout +++++++++++++++++++++*/


article#mainContent{
    background-color: #fefefe;
    border: 2px solid #fefefe;
    border-radius: 0.5em;
    overflow: auto;
}

body #mainContent .highlight{
    background-color: #d8dfea;
}

table{
    margin: auto;
    background-color: rgba(254,254,254,.85);
}

tr:nth-child(odd){
    background-color: #cccccc;
}
tr:nth-child(even){
    background-color: cornsilk;
}
table.dd td{
    border: thin dashed #0a0a0a;
    padding: 0.5em;  
}
table.dd tr{
    border: medium solid black;  
}

table.dd th{
    background-color: #eeeeee;
    border: 0.1em solid #000;
    font-family: Arial,Verdana,Geneva,Helvetica,sens-serif;
    padding: 0.5em;
    text-align: center; 
}

.highlight-red{
    background-color: #ffabab;
}

.highlightRed{ 
    background-color: #cc0033;
    color: #ffffff;
    font-size: inherit;
}

.center{
    text-align: center !important;
}

.left{
    text-align: left !important;
    padding-right: .5em;
}

.right{
    text-align: right !important;
    padding-left: .5em;
}

.hanging{
    padding-left: 5em ;
    text-indent: -5em ;
}

.indent{
    padding-left: 5em ;
}


.printonly{
    display:none;
}

table#asciiTable tr td,  table#asciiTable tr th{
    padding: .5em;
    border: thin dashed #0a0a0a;
}

#mainContent table tr td,  #mainContent table tr th{
    padding: .5em;
    border: thin dashed #0a0a0a;
}

#mainContent table tr th{
    background-color: #eeeeee;
    border: .1em solid #000;
    font-family: Arial,Verdana,Geneva,Helvetica,sens-serif;

    text-align: center;    
}

/* +++++++++++++++++++++++   assignment pages  ++++++++++++++++++++++++++++++*/

#assign .lab ol li {
    list-style-type: decimal;
    padding-left:2em;
}
.displayDate{
    display: inline-block;
    width: 10em;
    text-align: right;
}


#assignments #mainContent ol li .displayDate{
    width: auto;
}

#assignments .submitted, #assign .submitted{
    border: none;
    color: green;
}

#assignments .notSubmitted, #assign .notSubmitted{
    border: none;
    color: red;
}

#assign label, .lab label{
    clear: both;
    display: block;
    margin-top: 1em;
    padding-left: 1.3em;
    text-indent: -1.3em;
}

label ol li{
    list-style-type: none;
}

.lab fieldset{
    border: thin solid black;
    margin-bottom: 2em;
}
